In [1]:
 import pandas as pd

In [2]:
census = pd.read_csv('Salary_data.csv ')

In [10]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [12]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [15]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [17]:
census.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_data = census.drop('income_bracket',axis=1)

In [21]:
y_labels = census['income_bracket']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=101)

In [24]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
20895,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States

In [25]:
import tensorflow.compat.v1 as tf

In [26]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [27]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender',['Female','Male'])

In [28]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [29]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [30]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,age,
            education_num,capital_gain,capital_loss,hours_per_week]

In [31]:

input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

In [32]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Bhupal\AppData\Local\Temp\tmpbuhn9i36
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Bhupal\\AppData\\Local\\Temp\\tmpbuhn9i36', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [33]:
model.train(input_fn=input_func, steps=10000)

WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1635: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:518: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\Bhupal\.conda\envs\tenserflow\lib\site-packages\tensorflow_core\python\training\monitored_session.py:906: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Bhupal\AppData\Local\Temp\tmpbuhn9i36\model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 0
INFO:tensorflow:global_step/sec: 116.986
INFO:tensorflow:loss = 1374.4414, step = 100 (0.864 sec)
INFO:tensorflow:global_step/sec: 189.934
INFO:tensorflow:loss = 305.97113, step = 200 (0.518 sec)
INFO:tensorflow:global_step/sec: 208.788
INFO:tensorflow:loss = 274.5915, step = 300 (0.481 sec)
INFO:tensorflow:global_step/sec: 197.488
INFO:tensorflow:loss = 241.7526, step = 400 (0.507 sec)
INFO:tensorflow:global_step/sec: 197.766
INFO:tensorflow:loss = 81.756424, step = 500 (0.504 sec)
INFO:tensorflow:global_step/sec: 195.572
INFO:tensorflow:loss = 169.80455, step = 600 (0.510 sec)
INFO:tensorflow:global_step/sec: 204.793
INFO:tensorflow:loss = 244.64, step = 700 (0.489 sec)
INFO:tensorflow:global_step/sec: 190.623
INFO:tensorflow:loss = 169.70914, step = 800 (0.530 sec)
INFO:tensorflow:global_step/sec: 192.023
INFO:tensorflow:loss = 192.07526, step = 900 (0.515 sec)
INFO:tensorflow:global_step/sec: 160.263
INFO:tensorflow:loss = 47.670612, step = 1000 (0.624 sec)
INFO:tensorflow:global_step/sec: 182.636
INFO:tensorflow:loss = 140.66116, step = 1100 (0.547 sec)
INFO:tensorflow:global_step/sec: 193.319
INFO:tensorflow:loss = 180.9061, step = 1200 (0.516 sec)
INFO:tensorflow:global_step/sec: 212.612
INFO:tensorflow:loss = 207.2406, step = 1300 (0.472 sec)
INFO:tensorflow:global_step/sec: 205.888
INFO:tensorflow:loss = 204.41379, step = 1400 (0.490 sec)
INFO:tensorflow:global_step/sec: 177.702
INFO:tensorflow:loss = 41.351353, step = 1500 (0.564 sec)
INFO:tensorflow:global_step/sec: 199.225
INFO:tensorflow:loss = 294.29477, step = 1600 (0.500 sec)
INFO:tensorflow:global_step/sec: 173.918
INFO:tensorflow:loss = 96.28114, step = 1700 (0.576 sec)
INFO:tensorflow:global_step/sec: 160.362
INFO:tensorflow:loss = 46.19663, step = 1800 (0.626 sec)
INFO:tensorflow:global_step/sec: 146.053
INFO:tensorflow:loss = 70.81691, step = 1900 (0.681 sec)
INFO:tensorflow:global_step/sec: 153.512
INFO:tensorflow:loss = 496.88174, step = 2000 (0.651 sec)
INFO:tensorflow:global_step/sec: 171.719
INFO:tensorflow:loss = 196.70917, step = 2100 (0.581 sec)
INFO:tensorflow:global_step/sec: 172.875
INFO:tensorflow:loss = 68.598305, step = 2200 (0.578 sec)
INFO:tensorflow:global_step/sec: 208.437
INFO:tensorflow:loss = 97.69664, step = 2300 (0.480 sec)
INFO:tensorflow:global_step/sec: 200.134
INFO:tensorflow:loss = 105.02908, step = 2400 (0.500 sec)
INFO:tensorflow:global_step/sec: 208.102
INFO:tensorflow:loss = 187.00049, step = 2500 (0.480 sec)
INFO:tensorflow:global_step/sec: 196.626
INFO:tensorflow:loss = 86.02112, step = 2600 (0.509 sec)
INFO:tensorflow:global_step/sec: 207.593
INFO:tensorflow:loss = 73.262985, step = 2700 (0.482 sec)
INFO:tensorflow:global_step/sec: 200.731
INFO:tensorflow:loss = 37.74768, step = 2800 (0.497 sec)
INFO:tensorflow:global_step/sec: 212.714
INFO:tensorflow:loss = 42.96273, step = 2900 (0.471 sec)
INFO:tensorflow:global_step/sec: 158.271
INFO:tensorflow:loss = 83.30307, step = 3000 (0.635 sec)
INFO:tensorflow:global_step/sec: 140.925
INFO:tensorflow:loss = 46.327606, step = 3100 (0.706 sec)
INFO:tensorflow:global_step/sec: 128.646
INFO:tensorflow:loss = 24.480274, step = 3200 (0.784 sec)
INFO:tensorflow:global_step/sec: 169.945
INFO:tensorflow:loss = 62.6995, step = 3300 (0.582 sec)
INFO:tensorflow:global_step/sec: 166.882
INFO:tensorflow:loss = 36.341614, step = 3400 (0.599 sec)
INFO:tensorflow:global_step/sec: 156.271
INFO:tensorflow:loss = 33.10823, step = 3500 (0.643 sec)
INFO:tensorflow:global_step/sec: 191.35
INFO:tensorflow:loss = 49.641495, step = 3600 (0.528 sec)
INFO:tensorflow:global_step/sec: 196.16
INFO:tensorflow:loss = 101.11778, step = 3700 (0.503 sec)
INFO:tensorflow:global_step/sec: 190.261
INFO:tensorflow:loss = 52.390026, step = 3800 (0.525 sec)
INFO:tensorflow:global_step/sec: 188.472
INFO:tensorflow:loss = 65.07161, step = 3900 (0.531 sec)
INFO:tensorflow:global_step/sec: 167.671
INFO:tensorflow:loss = 106.06178, step = 4000 (0.597 sec)
INFO:tensorflow:global_step/sec: 173.619
INFO:tensorflow:loss = 37.004578, step = 4100 (0.575 sec)
INFO:tensorflow:global_step/sec: 200.532
INFO:tensorflow:loss = 33.99398, step = 4200 (0.500 sec)
INFO:tensorflow:global_step/sec: 188.492
INFO:tensorflow:loss = 29.252167, step = 4300 (0.531 sec)
INFO:tensorflow:global_step/sec: 206.737
INFO:tensorflow:loss = 31.010014, step = 4400 (0.483 sec)
INFO:tensorflow:global_step/sec: 203.383
INFO:tensorflow:loss = 122.680176, step = 4500 (0.494 sec)
INFO:tensorflow:global_step/sec: 187.09
INFO:tensorflow:loss = 166.61613, step = 4600 (0.535 sec)
INFO:tensorflow:global_step/sec: 153.428
INFO:tensorflow:loss = 34.684544, step = 4700 (0.650 sec)
INFO:tensorflow:global_step/sec: 151.059
INFO:tensorflow:loss = 41.244423, step = 4800 (0.664 sec)
INFO:tensorflow:global_step/sec: 143.233
INFO:tensorflow:loss = 798.62024, step = 4900 (0.698 sec)
INFO:tensorflow:global_step/sec: 140.74
INFO:tensorflow:loss = 351.49585, step = 5000 (0.711 sec)
INFO:tensorflow:global_step/sec: 170.873
INFO:tensorflow:loss = 44.26812, step = 5100 (0.585 sec)
INFO:tensorflow:global_step/sec: 168.162
INFO:tensorflow:loss = 35.00614, step = 5200 (0.593 sec)
INFO:tensorflow:global_step/sec: 173.357
INFO:tensorflow:loss = 31.507397, step = 5300 (0.576 sec)
INFO:tensorflow:global_step/sec: 200.68
INFO:tensorflow:loss = 35.856678, step = 5400 (0.498 sec)
INFO:tensorflow:global_step/sec: 195.073
INFO:tensorflow:loss = 83.654755, step = 5500 (0.514 sec)
INFO:tensorflow:global_step/sec: 203.581
INFO:tensorflow:loss = 28.582455, step = 5600 (0.490 sec)
INFO:tensorflow:global_step/sec: 219.18
INFO:tensorflow:loss = 34.369144, step = 5700 (0.455 sec)

INFO:tensorflow:global_step/sec: 194.694
INFO:tensorflow:loss = 31.208088, step = 5800 (0.517 sec)
INFO:tensorflow:global_step/sec: 181.766
INFO:tensorflow:loss = 53.673473, step = 5900 (0.547 sec)
INFO:tensorflow:global_step/sec: 117.198
INFO:tensorflow:loss = 38.17509, step = 6000 (0.855 sec)
INFO:tensorflow:global_step/sec: 162.799
INFO:tensorflow:loss = 37.706726, step = 6100 (0.615 sec)
INFO:tensorflow:global_step/sec: 163.834
INFO:tensorflow:loss = 37.856922, step = 6200 (0.608 sec)
INFO:tensorflow:global_step/sec: 198.814
INFO:tensorflow:loss = 38.958473, step = 6300 (0.503 sec)
INFO:tensorflow:global_step/sec: 187.066
INFO:tensorflow:loss = 34.13145, step = 6400 (0.535 sec)
INFO:tensorflow:global_step/sec: 184.851
INFO:tensorflow:loss = 502.0258, step = 6500 (0.541 sec)
INFO:tensorflow:global_step/sec: 194.472
INFO:tensorflow:loss = 29.445072, step = 6600 (0.515 sec)
INFO:tensorflow:global_step/sec: 202.56
INFO:tensorflow:loss = 32.620903, step = 6700 (0.494 sec)
INFO:tensorflow:global_step/sec: 188.447
INFO:tensorflow:loss = 112.69684, step = 6800 (0.531 sec)
INFO:tensorflow:global_step/sec: 196.547
INFO:tensorflow:loss = 37.119507, step = 6900 (0.511 sec)
INFO:tensorflow:global_step/sec: 189.716
INFO:tensorflow:loss = 45.963936, step = 7000 (0.525 sec)
INFO:tensorflow:global_step/sec: 198.55
INFO:tensorflow:loss = 60.26687, step = 7100 (0.503 sec)
INFO:tensorflow:global_step/sec: 162.656
INFO:tensorflow:loss = 29.554766, step = 7200 (0.617 sec)
INFO:tensorflow:global_step/sec: 206.631
INFO:tensorflow:loss = 29.490847, step = 7300 (0.482 sec)
INFO:tensorflow:global_step/sec: 192.083
INFO:tensorflow:loss = 41.94854, step = 7400 (0.521 sec)
INFO:tensorflow:global_step/sec: 189.03
INFO:tensorflow:loss = 44.52819, step = 7500 (0.532 sec)
INFO:tensorflow:global_step/sec: 152.18
INFO:tensorflow:loss = 34.68518, step = 7600 (0.655 sec)
INFO:tensorflow:global_step/sec: 171.105
INFO:tensorflow:loss = 54.834793, step = 7700 (0.588 sec)
INFO:tensorflow:global_step/sec: 162.693
INFO:tensorflow:loss = 69.852554, step = 7800 (0.611 sec)
INFO:tensorflow:global_step/sec: 199.241
INFO:tensorflow:loss = 36.52934, step = 7900 (0.506 sec)
INFO:tensorflow:global_step/sec: 209.764
INFO:tensorflow:loss = 497.4582, step = 8000 (0.473 sec)
INFO:tensorflow:global_step/sec: 216.378
INFO:tensorflow:loss = 56.72122, step = 8100 (0.461 sec)
INFO:tensorflow:global_step/sec: 190.661
INFO:tensorflow:loss = 29.295551, step = 8200 (0.528 sec)
INFO:tensorflow:global_step/sec: 209.62
INFO:tensorflow:loss = 54.97339, step = 8300 (0.473 sec)
INFO:tensorflow:global_step/sec: 200.135
INFO:tensorflow:loss = 32.341103, step = 8400 (0.500 sec)
INFO:tensorflow:global_step/sec: 210.382
INFO:tensorflow:loss = 37.430763, step = 8500 (0.476 sec)
INFO:tensorflow:global_step/sec: 202.164
INFO:tensorflow:loss = 75.708084, step = 8600 (0.494 sec)
INFO:tensorflow:global_step/sec: 213.335
INFO:tensorflow:loss = 33.477234, step = 8700 (0.469 sec)
INFO:tensorflow:global_step/sec: 200.823
INFO:tensorflow:loss = 84.13408, step = 8800 (0.497 sec)
INFO:tensorflow:global_step/sec: 216.205
INFO:tensorflow:loss = 55.70899, step = 8900 (0.464 sec)
INFO:tensorflow:global_step/sec: 205.353
INFO:tensorflow:loss = 46.193428, step = 9000 (0.489 sec)
INFO:tensorflow:global_step/sec: 214.246
INFO:tensorflow:loss = 80.15374, step = 9100 (0.464 sec)
INFO:tensorflow:global_step/sec: 215.374
INFO:tensorflow:loss = 50.8312, step = 9200 (0.466 sec)
INFO:tensorflow:global_step/sec: 204.501
INFO:tensorflow:loss = 24.720787, step = 9300 (0.488 sec)
INFO:tensorflow:global_step/sec: 214.247
INFO:tensorflow:loss = 33.39581, step = 9400 (0.464 sec)
INFO:tensorflow:global_step/sec: 201.413
INFO:tensorflow:loss = 139.88966, step = 9500 (0.500 sec)
INFO:tensorflow:global_step/sec: 214.679
INFO:tensorflow:loss = 36.631363, step = 9600 (0.466 sec)
INFO:tensorflow:global_step/sec: 202.56
INFO:tensorflow:loss = 45.881615, step = 9700 (0.494 sec)
INFO:tensorflow:global_step/sec: 215.164
INFO:tensorflow:loss = 29.829468, step = 9800 (0.466 sec)
INFO:tensorflow:global_step/sec: 201.214
INFO:tensorflow:loss = 34.892853, step = 9900 (0.495 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\Bhupal\AppData\Local\Temp\tmpbuhn9i36\model.ckpt.
INFO:tensorflow:Loss for final step: 76.70006.

In [34]:
pred_fun = tf.estimator.inputs.pandas_input_fn(x= X_test, batch_size=len(X_test), shuffle=False)

In [35]:
prediction = list(model.predict(input_fn=pred_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Bhupal\AppData\Local\Temp\tmpbuhn9i36\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [36]:
prediction[0]

{'logits': array([-1.153497], dtype=float32),
 'logistic': array([0.23985094], dtype=float32),
 'probabilities': array([0.76014906, 0.23985092], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [37]:
final_preds = []
for pred in prediction:
    final_preds.append(pred['class_ids'][0])

In [38]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [39]:
from sklearn.metrics import classification_report

In [40]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      7436
           1       0.66      0.61      0.63      2333

    accuracy                           0.83      9769
   macro avg       0.77      0.75      0.76      9769
weighted avg       0.83      0.83      0.83      9769